@charset "utf-8";

$white: #fff;
$black: #000;
$color_major: #3b404b;
$color_secondary: #FFD800;

//$media_xxxs: 480px; 
//$media_xxs: 600px;
$media_sm: 768px;
$media_md: 992px;
$media_lg: 1200px;