.page-about{

	.kv{
		background-image: url('../images/about/kv_xs.jpg');

		@media (min-width: $media_sm) {
			background-image: url('../images/about/kv_sm.jpg');
		}

		@media (min-width: $media_md) {
			background-image: url('../images/about/kv_md.jpg');
		}
	}

	.content-1{
		@media (min-width: $media_sm) {
			flex-direction: row;
			align-items: center;
		}

		.col{
			width: 100%;

			@media (min-width: $media_sm) {
				width: 50%;
			}
		}

		.right-side{
			@media (min-width: $media_sm) {
				padding-right: 24px;
			}

			@media (min-width: $media_md) {
				padding-right: 0;
			}
		}

		.text-side{
			padding-top: 49px;
			padding-bottom: 30px;

			@media (min-width: $media_lg) {
				padding-right: 155px;
			}
		}
	}

	.content-2{
		margin-bottom: 38px;

		@media (min-width: $media_sm) {
			flex-direction: row;
			align-items: center;
		}

		@media (min-width: $media_md) {
			margin-bottom: 76px;
		}

		.col{
			width: 100%;

			@media (min-width: $media_sm) {
				width: 50%;
			}
		}

		.col:first-child{
			order: 1;

			@media (min-width: $media_sm) {
				order: 0;
			}
		}

		.left-side{
			@media (min-width: $media_sm) {
				padding-left: 24px;
			}

			@media (min-width: $media_md) {
				padding-left: 0;
			}
		}

		.text-side{
			padding-top: 49px;
			padding-bottom: 30px;

			@media (min-width: $media_lg) {
				padding-left: 155px;
			}
		}
	}

	.link-to-page{
		a{
			margin-top: 0;
			padding-top: 0;
		}
	}

	.content-window{
		margin-bottom: 38px;
		height: 320px;
		background: url('../images/about/content_bg_xs.jpg') no-repeat center center;
		background-size: cover;
		background-attachment: scroll;

		@media (min-width: $media_lg) {
			margin-bottom: 76px;
			background: url('../images/about/content_bg_md.jpg') no-repeat center top;
			background-attachment: fixed;
		}
	}
}