.page-products{

	.kv{
		justify-content: center;
		background-image: url('../images/products/products_2_4/kv_xs.jpg');

		@media (min-width: $media_md) {
			justify-content: flex-start;
			background-image: url('../images/products/products_2_4/kv_md.jpg');
		}

		.icon{
			width: 100px;
			margin-left: 0;

			@media (min-width: $media_md) {
				width: 170px;
				margin-left: 157px;
			}
		}
	}

	.experience{
		@media (min-width: $media_md) {
			flex-direction: column;
		}

		p{
			text-align: left;

			@media (min-width: $media_md) {
				text-align: center;
			}
		}
	}

	.sub-title{
		padding-top: 49px;

		@media (min-width: $media_md) {
			padding-top: 57px;
		}
	}

	.content-1{
		margin-bottom: 48px;

		@media (min-width: $media_md) {
			margin-bottom: 102px;
		}
	}

	.cta-thumb-container{
		.cta-thumb-list{
			justify-content: center;

			.cta-thumb{
				p{
					line-height: 1.38;
					text-align: left;

					@media (min-width: $media_md) {
						line-height: 0;
					}
				}
			}
		}
	}
}