.page-products{

	.kv{
		justify-content: center;
		background-image: url('../images/products/products_2_2/kv_xs.jpg');

		@media (min-width: $media_sm) {
			background-image: url('../images/products/products_2_2/kv_sm.jpg');
		}

		@media (min-width: $media_md) {
			justify-content: flex-start;
			background-image: url('../images/products/products_2_2/kv_md.jpg');
		}

		.icon{
			width: 100px;
			margin-left: 0;

			@media (min-width: $media_sm) {
				width: 178px;
			}

			@media (min-width: $media_md) {
				width: 138px;
				margin-left: 100px;
			}

			@media (min-width: $media_lg) {
				width: 170px;
				margin-left: 157px;
			}
		}
	}

	.sub-title{
		padding-top: 49px;

		@media (min-width: $media_md) {
			padding-top: 57px;
		}
	}

	.content-text-img{
		.img-con{
			@media (min-width: $media_md) {
				width: calc((100% - 24px) / 3);
			}
		}
	}

	.content-2{
		position: relative;
		margin-bottom: 29px;
		padding-top: 142%;
		background: url('../images/products/products_2_2/content_2_xs.jpg') no-repeat center center;
		background-size: 100% auto;

		@media (min-width: $media_sm) {
			padding-top: 46%;
			background: url('../images/products/products_2_2/content_2_md.jpg') no-repeat center center;
			background-size: 100% auto;
		}

		@media (min-width: $media_md) {
			margin-bottom: 58px;
		}

		p{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

			color: #fff;
			font-size: 24px;
			font-weight: 700;
			line-height: 1.54;
			text-align: justify;
			padding: 0 24px;
			padding-top: 60px;

			@media (min-width: $media_sm) {
				padding-top: 30px;
			}

			@media (min-width: $media_md) {
				font-size: 26px;
			}

			@media (min-width: $media_lg) {
				padding-top: 60px;
				text-align: center;
			}
		}
	}

	.content-3{
		margin-bottom: 29px;
		
		@media (min-width: $media_md) {
			margin-bottom: 58px;
		}
	}

	.video-container{
		display: flex;
		justify-content: center;
		align-items: center;
		

		.video-item{
			width: 100%;
			
			@media (min-width: $media_md) {
				width: 900px;
			}
		}
	}
}