.page-products{

	.kv{
		justify-content: center;
		background-image: url('../images/products/products_1_2/kv_xs.jpg');

		@media (min-width: $media_sm) {
			background-image: url('../images/products/products_1_2/kv_md.jpg');
		}

		@media (min-width: $media_md) {
			justify-content: flex-start;
		}

		.icon{
			width: 100px;
			margin-left: 0;

			@media (min-width: $media_md) {
				width: 170px;
				margin-left: 157px;
			}
		}
	}

	.content-1{
		.text-side{
			padding-top: 49px;
			padding-bottom: 18px;

			@media (min-width: $media_md) {
				padding-right: 173px;
			}
		}

		.right-side{
			padding: 0 24px 47px 24px;

			@media (min-width: $media_md) {
				padding: 72px 24px;
				padding-left: 0;
			}
		}	
	}

	.content-2{
		background-color: #f4f4f4;

		.col:nth-child(1){
			order: 1;

			@media (min-width: $media_md) {
				order: 0;
			}
		}

		.text-side{
			padding-top: 24px;
			padding-bottom: 31px;

			@media (min-width: $media_md) {
				padding: 0 85px;
			}
		}
	}
}